@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://db.onlinewebfonts.com/c/1a5c2d8bbd4e28d99a6efcbb9a5b378f?family=JejuMyeongjo');
@import "tailwindcss";

@theme {
  --color-bgDarkgreen: #041E23;
  --color-bgLightGreen: #0E464F;
  --color-bgRingGreen: #197686;
  --color-bgInputLightGreen: #2BA4B9;
  --color-btnGreen: #24A0B5;
  --color-textDark: #0A0C11;
  --color-primaryBackground: #02191D;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  
}


body {
  margin: 0 auto;
  background-color: #02191D;
  color:white;
}

a {
  text-decoration: none;
}
